h1
{
  text-align:center
}

table, td, th, tr, td
{
  border: 1px solid black;
}

#application_map_table .name
{
  width: 500px;
}

#application_map_table .true_false
{
  text-align:center;
  width: 100px;
}
