<!DOCTYPE html>
<html>
<head>
  <title>AppMap</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <script type="text/javascript" src="/javascripts/vendor/jquery-1.8.0.min.js" ></script>
</head>
<body>

<%= yield %>

</body>
  <script type="text/javascript" src="/javascripts/main.js" ></script>
</html>
